<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
      <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Metrobit.Shell.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
  <log4net>
    <appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="INFO" />
        <levelMax value="FATAL" />
      </filter>
      <file type="log4net.Util.PatternString" value="${LOCALAPPDATA}/Metrobit/log.txt" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date %class %-5level [%thread]: %message%newline" />
      </layout>
    </appender>
    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="INFO" />
        <levelMax value="FATAL" />
      </filter>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date %class %-5level [%thread]: %message%newline" />
      </layout>
    </appender>
    <appender name="MessageAppender" type="Metrobit.Shell.Utils.Log4NetMessageAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date %class %-5level [%thread]: %message%newline" />
      </layout>
    </appender>
    <root>
      <level value="ALL" />
      <appender-ref ref="RollingFileAppender" />
      <appender-ref ref="ConsoleAppender" />
      <appender-ref ref="MessageAppender" />
    </root>
  </log4net>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.ServiceLocation" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.0.0" newVersion="1.2.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <Metrobit.Shell.Properties.Settings>
      <setting name="WindowPlacement" serializeAs="Xml">
        <value>&lt;?xml version="1.0" encoding="utf-16"?&gt;
&lt;WINDOWPLACEMENT xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema"&gt;
  &lt;length&gt;0&lt;/length&gt;
  &lt;flags&gt;0&lt;/flags&gt;
  &lt;showCmd&gt;0&lt;/showCmd&gt;
  &lt;minPosition&gt;
    &lt;X&gt;0&lt;/X&gt;
    &lt;Y&gt;0&lt;/Y&gt;
  &lt;/minPosition&gt;
  &lt;maxPosition&gt;
    &lt;X&gt;0&lt;/X&gt;
    &lt;Y&gt;0&lt;/Y&gt;
  &lt;/maxPosition&gt;
  &lt;normalPosition&gt;
    &lt;Left&gt;0&lt;/Left&gt;
    &lt;Top&gt;0&lt;/Top&gt;
    &lt;Right&gt;0&lt;/Right&gt;
    &lt;Bottom&gt;0&lt;/Bottom&gt;
  &lt;/normalPosition&gt;
&lt;/WINDOWPLACEMENT&gt;</value>
      </setting>
      <setting name="ThemeSource" serializeAs="String">
        <value>/FirstFloor.ModernUI;component/Assets/ModernUI.Dark.xaml</value>
      </setting>
      <setting name="AccentColor" serializeAs="String">
        <value>#FF647687</value>
      </setting>
    </Metrobit.Shell.Properties.Settings>
  </userSettings>
</configuration>